{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<style>

.bg{
background-repeat: no-repeat;
background-position: 20% 20%;
background-attachment: fixed;
background-size: cover;
}


.size{
	font-size: 20px;
	color: black;
}


</style>


<div class="container" style = "margin-top:50px">
<body class="bg" style="background-image: url('{% static 'images/h9.jpg' %}')";>	
	<h3 style="font-size: 30px;color: purple;" class="text-center">Add Doctor</h3>
	<br><br>
	<form method="post" action="">
		{% csrf_token %}
		<h2 class="size">Doctor Name</h2>
		<input type = "text" class="form-control" name="name" required>
		<h2 class="size">Contact</h2>
		<input type = "text" class="form-control" name="contact" required>
		<h2 class="size">Specialization</h2>
		<input type = "text" class="form-control" name="special" required>
		<br>
		<input type = "submit" value="Submit" class="form-control btn btn-danger">


	</form>
	</body>
</div>

{% ifequal error "no" %}
<script>
	alert('Record Saved Successfully');
	window.location=('{% url 'view_doctor' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
	alert('Oops,Something went wrong, Try again');
</script>
{% endifequal %}



{% endblock %}